.intro {
  background: url("../assets/home/intro.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16% 10%;
  margin-top: -5%;
}

.intro h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  font-variant: small-caps;
  color: #0a19ce;
}

.intro h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  color: #263238;
}

.intro p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  color: #969696;
  padding-right: 3%;
}

.wdwd {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  color: #0a19ce;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.owl-carousel {
  padding: 5%;
}

.item .card {
  width: 328px;
  height: 324px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 10% 5%;
  margin: 0 auto;
}

.card .card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #263238;
}

.card .card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  color: #848383;
}

.adv {
  width: 389px;
  height: 79px;
  background: linear-gradient(
    180deg,
    rgba(144, 142, 224, 0.4) 0%,
    rgba(141, 135, 216, 0.4) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cyber {
  width: 389px;
  height: 79px;
  background: linear-gradient(
    180deg,
    rgb(240 207 228 / 69%) 0%,
    rgb(242 217 235) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.app {
  width: 389px;
  height: 79px;
  background: linear-gradient(
    180deg,
    rgba(142, 199, 224, 0.4) 0%,
    rgba(135, 196, 216, 0.4) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sci {
  width: 389px;
  height: 79px;
  background: linear-gradient(
    180deg,
    rgba(224, 142, 157, 0.4) 0%,
    rgba(216, 135, 140, 0.4) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.web {
  width: 389px;
  height: 79px;
  left: -3px;
  top: 7px;
  background: linear-gradient(
    180deg,
    rgb(158 204 189 / 54%) 0%,
    rgb(197 225 218) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.block {
  width: 389px;
  height: 79px;
  left: -3px;
  top: 7px;
  background: linear-gradient(
    180deg,
    rgb(238 232 207) 0%,
    rgb(240 234 210) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.quant {
  width: 389px;
  height: 79px;
  left: -3px;
  top: 7px;
  background: linear-gradient(
    180deg,
    rgb(174 199 233) 0%,
    rgb(190 214 244) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.creat {
  width: 389px;
  height: 79px;
  left: -3px;
  top: 7px;
  background: linear-gradient(
    180deg,
    rgb(224 189 237) 0%,
    rgb(214 168 232 / 62%) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.math {
  width: 389px;
  height: 79px;
  left: -3px;
  top: 7px;
  background: linear-gradient(
    180deg,
    rgb(224 166 202 / 52%) 0%,
    rgb(232 197 221) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.corp {
  width: 389px;
  height: 79px;
  left: -3px;
  top: 7px;
  background: linear-gradient(
    180deg,
    rgb(162 204 221 / 58%) 0%,
    rgb(206 225 236)
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10% auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.domain .col-6 .adv,
.domain .col-6 .cyber,
.domain .col-6 .app,
.domain .col-6 .sci ,
.domain .col-6 .web,
.domain .col-6 .block,
.domain .col-6 .quant,
.domain .col-6 .creat,
.domain .col-6 .math,
.domain .col-6 .corp {
  margin: 5% auto;
  padding-top: 3%;
}

.adv p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #64558e;
}

.cyber p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ad3454;
}

.app p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1b86c2;
}

.sci p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #894713;
}

.web p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #337a97;
}

.block p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #b66f2d;
}

.quant p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #294fb2;
}

.creat p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #6f5a9e;
}

.math p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #98477f;
}

.corp p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #026292;
}

.box {
  width: 85%;
  height: 150px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  margin: 10%;
}

.box img {
  width: 100px;
  height: 100px;
  margin: 4% 2%;
  border-radius: 50%;
}

.box h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #64558e;
}

.content {
  padding: 2% 4%;
}

.carousel {
  margin-bottom: 10%;
}

.contact {
  background: url("../assets/home/contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0% 6% 8% 6%;
}

.owl-carousel {
  position: relative;
}

.one {
  position: absolute;
  top: 15%;
  z-index: 100;
}

.two {
  position: absolute;
  bottom: 15%;
  left: 34%;
  z-index: 100;
}

.three {
  position: absolute;
  bottom: 15%;
  right: 0;
  z-index: 100;
  width: 135px;
  height: 145px;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
  left: 10%;
  top: 45%;
}

.carousel-item p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  color: #848383;
}

@media (max-width: 1090px) {
  .intro {
    background-size: contain;
  }
}

@media (max-width: 575px) {
  .intro h4 {
    font-size: 12px;
  }
  .intro h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .intro p {
    font-size: 12px;
    line-height: 15px;
  }
  .wdwd {
    font-size: 25px;
    margin-top: 15%;
    line-height: 35px;
  }
  .item .card {
    width: 280px;
  }
  .one,
  .three {
    width: 80px;
    height: 80px;
  }
  .two {
    width: 80px;
    height: 80px;
    left: 8%;
  }
  .one {
    top: -4%;
  }
  .three {
    right: 5%;
  }
  .adv,
  .cyber,
  .app,
  .sci ,
  .web,
  .block,
  .quant,
  .creat,
  .math,
  .corp {
    width: 280px;
    height: 60px;
  }
  .adv p,
  .cyber p,
  .app p,
  .sci p ,
  .web p,
  .block p,
  .quant p,
  .creat p,
  .math p,
  .corp p {
    font-size: 15px;
    padding-top: 5%;
  }
  .box {
    padding: 1%;
  }
  .box img {
    width: 70px;
    height: 70px;
  }
  .box h1 {
    font-size: 12px;
    line-height: 15px;
  }
  .carousel-item p {
    font-size: 9px;
    line-height: 13px;
  }
  .intro {
    margin-top: 0%;
  }
  .contact {
    padding-bottom: 35%;
  }
  .carousel-indicators {
    bottom: -3%;
  }
}

@media (min-width: 576px) and (max-width: 900px) {
  .adv p,
  .cyber p,
  .app p,
  .sci p ,
  .web p,
  .block p,
  .quant p,
  .creat p,
  .math p,
  .corp p {
    width: 280px;
    height: 60px;
  }
  .adv p,
  .cyber p,
  .app p,
  .sci p,
  .web p,
  .block p,
  .quant p,
  .creat p,
  .math p,
  .corp p {
    font-size: 15px;
    padding-top: 5%;
  }
  .intro h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .intro {
    margin-top: 0%;
  }
  .one {
    top: -10%;
  }
  .owl-carousel {
    padding: 5% 1%;
  }
  .item .card {
    width: 220px;
  }
  .card .card-title {
    font-size: 15px;
    line-height: 25px;
  }
  .card .card-text {
    font-size: 10px;
    line-height: 15px;
  }
}

@media (max-width: 325px) {
  .item .card {
    width: 250px;
  }
  .box img {
    width: 60px;
    height: 60px;
  }
  .box h1 {
    font-size: 10px;
  }
  .carousel-item p {
    line-height: 11px;
  }
}
